[submodule "sources_non_forked/sources_non_forked/vim-textobj-quote"]
	path = sources_non_forked/sources_non_forked/vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote.git
[submodule "sources_non_forked/vim-textobj-quote"]
	path = sources_non_forked/vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote.git
[submodule "sources_non_forked/committia"]
	path = sources_non_forked/committia
	url = https://github.com/rhysd/committia.vim.git
