[submodule "sources_non_forked/vim-textobj-quote"]
	path = sources_non_forked/vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote.git
[submodule "sources_non_forked/committia"]
	path = sources_non_forked/committia
	url = https://github.com/rhysd/committia.vim.git
[submodule "sources_non_forked/ctags.vim"]
	path = sources_non_forked/ctags.vim
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "sources_non_forked/vim-lexical"]
	path = sources_non_forked/vim-lexical
    url = https://github.com/reedes/vim-lexical.git
[submodule "sources_non_forked/vim-litecorrect"]
	path = sources_non_forked/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect.git
[submodule "sources_non_forked/vim-textobj-sentence"]
	path = sources_non_forked/vim-textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence.git
[submodule "sources_non_forked/bundle/table-mode"]
	path = sources_non_forked/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "sources_non_forked/table-mode"]
	path = sources_non_forked/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
